In [1]:
import ibm_db
import ibm_db_sa
import sqlalchemy

%load_ext sql

In [2]:
%sql ibm_db_sa://xrz44897:bSx3hFO0KIQVe8rk@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB?security=SSL

Problem 1: Find the total number of crimes recorded in the CRIME table

In [3]:
%sql SELECT COUNT(*) FROM CHICAGO_CRIME_DATA;

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[(533,)]

Problem 2: List community areas with per capita income less than 11000.

In [4]:
%%sql SELECT community_area_name, per_capita_income
 from CENSUS_DATA where per_capita_income < 11000;

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

Problem 3: List all case numbers for crimes involving minors?

In [6]:
%%sql SELECT case_number,description FROM CHICAGO_CRIME_DATA 
where description LIKE '%MINOR%';

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [7]:
%%sql SELECT * FROM CHICAGO_CRIME_DATA
WHERE PRIMARY_TYPE = 'KIDNAPPING' AND description LIKE '%CHILD%';

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

Problem 5: What kind of crimes were recorded at schools?

In [140]:
%%sql SELECT DISTINCT(primary_type) 
FROM CHICAGO_CRIME_DATA 
WHERE location_description like '%SCHOOL%';

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPA',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VI',)]

Problem 6: List the average safety score for all types of schools.

In [151]:
%%sql SELECT "Elementary, Middle, or High School",avg(safety_score)
FROM CHICAGO_PUBLIC_SCHOOLS
group by "Elementary, Middle, or High School";

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

Problem 7: List 5 community areas with highest % of households below poverty line.

In [11]:
%%sql SELECT community_area_name, percent_households_below_poverty 
FROM CENSUS_DATA 
ORDER BY percent_households_below_poverty DESC LIMIT 5;

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

Problem 8: Which community area(number) is most crime prone?

In [99]:
%%sql SELECT community_area_number , count(*) as frequency
FROM CHICAGO_CRIME_DATA
GROUP by community_area_number
ORDER BY frequency desc 
limit 1
;

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[(25, 43)]

In [93]:
%%sql SELECT CENSUS_DATA.community_area_name, count(CHICAGO_CRIME_DATA.community_area_number) AS TOTAL 
FROM CHICAGO_CRIME_DATA
LEFT JOIN CENSUS_DATA 
ON CENSUS_DATA.community_area_number = CHICAGO_CRIME_DATA.community_area_number 
group by community_area_name 
ORDER BY total desc
LIMIT 1;

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('Austin', 43)]

Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [111]:
%%sql select community_area_name from CENSUS_DATA
where hardship_index =  (select max(hardship_index) from CENSUS_DATA);

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('Riverdale',)]

Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [139]:
%%sql select community_area_name 
from CENSUS_DATA 
where community_area_number = ( select community_area_number 
                               from CHICAGO_CRIME_DATA 
                               group by community_area_number 
                               order by count(*)  desc limit 1);

 * ibm_db_sa://xrz44897:***@6667d8e9-9d4d-4ccb-ba32-21da3bb5aafc.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30376/BLUDB
Done.

[('Austin',)]